.stickyNote {
  align-items: center;
  margin-top: 4px;
  text-align: top-right;
  width: 300px;
  height: 300px;
  border: 1px solid rgb(255, 192, 17);
  background-color: rgb(254, 255, 156);
}

.backgroundDesk {
  background-image: url("images/pexels-free-photoscc-64778.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.bodyLayout {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
html {
  padding: 0px 0px 0px 0px;
}
input {
  height: 20px;
}
button {
  height: 27px;
  width: 100px;
}
